@model DataLayer.Loja

<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDaoBK_M-L7dhklB8ew0z4XpaSESk3NyRQ"></script>


<style>
    #map_canvas img {
        max-width: none
    }
</style>
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
    </dl>
</div>

@Html.HiddenFor(model => model.Latitude)
@Html.HiddenFor(model => model.Longitude)
@Html.HiddenFor(model => model.Nome)

@Html.Partial("_ButtonDetailsEdit", Model.ID)

<div id="map-canvas" style="height: 300px; margin-top: 100px"></div>
@*@Html.Partial("_GoogleMap")*@

@section Scripts {
    @Scripts.Render("~/Scripts/GoogleMaps.js")
}
