@model DataLayer.Item

@{
    ViewBag.Title = "Detalhes";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdPrevista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdPrevista) @Html.DisplayFor(model => model.Produto.Unidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QtdReal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QtdReal) @Html.DisplayFor(model => model.Produto.Unidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
    </dl>
</div>
@Html.Partial("_ButtonDetailsEdit", Model.ID)
