@model IEnumerable<DataLayer.Item>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lista.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lista.Loja.Nome)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.QtdPrevista)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.QtdReal)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lista.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lista.Loja.Nome)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.QtdPrevista)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.QtdReal)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.Subtotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
            </tr>
        }
    </tbody>
</table>
