@model IEnumerable<IGrouping<string, DataLayer.Produto>>

@{
    ViewBag.Title = "Produtos por Categoria";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create")">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Novo Produto
    </a> |
    <a href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-sort-by-alphabet"></span>
        Ordem alfabética
    </a>
</p> 

@foreach (var grp in Model) {
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @{
                        var grupo = grp.Key.Replace(" ", "");
                        var href = $"#collapse{grupo}";
                    }
                    <a data-toggle="collapse" href="@href">@grp.Key</a>
                    <span class="badge">@grp.Count()</span>
                </h4>
            </div>
            @{
                var id = $"collapse{grupo}";
            }
            <div id="@id" +@grp.Key class="panel-collapse collapse">
                @Html.Partial("_ProdutosTabela", grp.OrderBy(p => p.Nome).ToArray())
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $("tbody tr:even").css("background-color", "#ddd");
    </script>
}
